# Assignment 1. SQL Basics

## Objectives

In this assignment, you will go through the pipeline of using SQL to store and query a database. You will learn the followings:
 - How to create a table 
 - How to insert data into a table
 - How to select certain rows or columns from a table
 - How to join two tables together
 - How to use expressions

In addition, you will get familiar with Jupyter (a widely-used tool in the data science world).

We will choose [SQLite](https://en.wikipedia.org/wiki/SQLite) as our DBMS. In contrast to many other database management systems (e.g., Oracle, DB2, and SQL Servier), SQLite is not a clientâ€“server database engine. Rather, it is embedded into the end program. This unique feature has led it to be adopted by [billions of applications](https://www.sqlite.org/mostdeployed.html).

## Setup & Warmup

1. Please follow this [setup page](setup.html) to setup environment
2. Please download the [warmup.ipynb](warmup.ipynb) notebook. It will help you get familiar with SQLite and Jupyter notebook. If you have any question, please ask on Piazza.

## Task 1. Using SQL to create a database (9 points)

In this task, your goal is to create a database (named `coursys`), and then create two tables in the database. The first table is named `students` and the second table is named `grades`.

Please execute the following cell to load the [ipython-sql](https://github.com/catherinedevlin/ipython-sql) extension.

In [2]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

### 1.1 (1 point) Create an empty database  named `coursys`

In [3]:
%sql sqlite:///coursys

u'Connected: @coursys'

### 1.2 (4 points) Create a table  named `grades`

The `grades` table has four columns and six rows as shown below.
```
studentid, course, mark, credit
1, CMPT 354, 90,   3.5
1, MATH 251, 85,   4
1, CMPT 120, 79.5, 5
2, CMPT 354, 95,   3.5
2, CMPT 120, 59,   5
2, MATH 251, 70,   4
```
**Please write an SQL query to create the `grades` table. Note that the table has to meet the following requirements.  **
 * `studentid` - integer
 * `course` - char(10)
 * `mark` and `credit` - double
 * (studentid, course) is Primary Key
 * studentid  references `students.id`

In [4]:
%%sql
CREATE TABLE grades (
    studentid INTEGER,
    course CHAR(10),
    mark DOUBLE,
    credit DOUBLE,
    PRIMARY KEY (studentid, course),
    FOREIGN KEY (studentid) REFERENCES students(id)
)

 * sqlite:///coursys
(sqlite3.OperationalError) table grades already exists [SQL: u'CREATE TABLE grades (\n    studentid INTEGER,\n    course CHAR(10),\n    mark DOUBLE,\n    credit DOUBLE,\n    PRIMARY KEY (studentid, course),\n    FOREIGN KEY (studentid) REFERENCES students(id)\n)'] (Background on this error at: http://sqlalche.me/e/e3q8)

** Please write SQL queries to insert the above data (six rows) into the `grades` table **

In [5]:
%%sql
INSERT INTO grades VALUES (1,'CMPT 354',90,3.5);
INSERT INTO grades VALUES (1,'MATH 251',85,4);
INSERT INTO grades VALUES (1,'CMPT 120',79.5,5);
INSERT INTO grades VALUES (2,'CMPT 354',95,3.5);
INSERT INTO grades VALUES (2,'CMPT 120',59,5);
INSERT INTO grades VALUES (2,'MATH 251',70,4);

 * sqlite:///coursys

IntegrityError: (sqlite3.IntegrityError) UNIQUE constraint failed: grades.studentid, grades.course [SQL: u"INSERT INTO grades VALUES (1,'CMPT 354',90,3.5);"] (Background on this error at: http://sqlalche.me/e/gkpj)

### 1.3 (4 points) Create a table  named `students`

The `students` table has four columns and two rows as shown below. 
```
id, name, gender, age
1, Justin Bieber, Male, 18
2, Celine Dion, Female, 19
```
**Please write an SQL query to create the `students` table. Note that the table has to meet the following requirements. **
 * `id`, `age` - integer
 * `name` - varchar(30)
 * `gender` - char(6)
 * id is Primary Key
 * `name` cannot be NULL

In [6]:
%%sql
CREATE TABLE students (
    id INTEGER,
    name VARCHAR(30) NOT NULL,
    gender CHAR(6),
    age INTEGER,
    PRIMARY KEY (id)
)

 * sqlite:///coursys
(sqlite3.OperationalError) table students already exists [SQL: u'CREATE TABLE students (\n    id INTEGER,\n    name VARCHAR(30) NOT NULL,\n    gender CHAR(6),\n    age INTEGER,\n    PRIMARY KEY (id)\n)'] (Background on this error at: http://sqlalche.me/e/e3q8)

** Please write SQL queries to insert the above data (2 rows) into the `student` table **

In [7]:
%%sql
INSERT INTO students VALUES (1, 'Justin Bieber', 'Male', 18);
INSERT INTO students VALUES (2, 'Celine Dion', 'Female', 19);

 * sqlite:///coursys

IntegrityError: (sqlite3.IntegrityError) UNIQUE constraint failed: students.id [SQL: u"INSERT INTO students VALUES (1, 'Justin Bieber', 'Male', 18);"] (Background on this error at: http://sqlalche.me/e/gkpj)

## Task 2. Using SQL to query a database (11 points)

**2.1 (1 point) Please write an SQL query to show all rows in the `grades` table **

In [8]:
%%sql
SELECT * FROM grades

 * sqlite:///coursys
Done.

[(1, u'CMPT 354', 90.0, 3.5),
 (1, u'MATH 251', 85.0, 4.0),
 (1, u'CMPT 120', 79.5, 5.0),
 (2, u'CMPT 354', 95.0, 3.5),
 (2, u'CMPT 120', 59.0, 5.0),
 (2, u'MATH 251', 70.0, 4.0)]

**2.2 (1 point) Please write an SQL query to show the rows whose `course` is "CMPT 354" in the ``grades`` table**

In [9]:
%%sql
SELECT * FROM grades WHERE course='CMPT 354'

 * sqlite:///coursys
Done.

[(1, u'CMPT 354', 90.0, 3.5), (2, u'CMPT 354', 95.0, 3.5)]

**2.3 (1 point) Please write an SQL query to show the rows whose `mark` is larger than 60 and `credit` is no smaller than 4 in the ``grades`` table **

In [10]:
%%sql
SELECT * FROM grades WHERE mark>60 AND credit>=4

 * sqlite:///coursys
Done.

[(1, u'MATH 251', 85.0, 4.0),
 (1, u'CMPT 120', 79.5, 5.0),
 (2, u'MATH 251', 70.0, 4.0)]

** 2.4 (1 point) Please write an SQL query to show the rows whose `course` starts with "CMPT" in the ``grades`` table. **

In [11]:
%%sql
SELECT * FROM grades WHERE course LIKE 'CMPT%'

 * sqlite:///coursys
Done.

[(1, u'CMPT 354', 90.0, 3.5),
 (1, u'CMPT 120', 79.5, 5.0),
 (2, u'CMPT 354', 95.0, 3.5),
 (2, u'CMPT 120', 59.0, 5.0)]

**2.5 (1 point) Please write an SQL query to show ``studentid``, ``course`` and ``mark`` of all rows in the ``grades`` table **

In [12]:
%%sql
SELECT studentid, course, mark FROM grades

 * sqlite:///coursys
Done.

[(1, u'CMPT 354', 90.0),
 (1, u'MATH 251', 85.0),
 (1, u'CMPT 120', 79.5),
 (2, u'CMPT 354', 95.0),
 (2, u'CMPT 120', 59.0),
 (2, u'MATH 251', 70.0)]

**2.6 (1 point) Please write an SQL query to show _distinct_ `course` of all rows in the `grades` table**

In [13]:
%%sql
SELECT DISTINCT course FROM grades

 * sqlite:///coursys
Done.

[(u'CMPT 120',), (u'CMPT 354',), (u'MATH 251',)]

**2.7 (1 point) Please write an SQL query to show `studentid`, `course` and `markpoint` of all rows in the `grades` table. `markpoint` is defined as `markpoint` = `mark` * `credit`. **

In [29]:
%%sql
SELECT studentid, course, mark*credit AS markpoint FROM grades

 * sqlite:///coursys
Done.

[(1, u'CMPT 354', 315.0),
 (1, u'MATH 251', 340.0),
 (1, u'CMPT 120', 397.5),
 (2, u'CMPT 354', 332.5),
 (2, u'CMPT 120', 295.0),
 (2, u'MATH 251', 280.0)]

** 2.8 (2 points) Please write an SQL query to find the students who have taken "CMPT 354" and show their `name`, `mark`. **

In [42]:
%%sql
SELECT name, mark FROM grades, students WHERE studentid=id AND course='CMPT 354'

 * sqlite:///coursys
Done.

[(u'Justin Bieber', 90.0), (u'Celine Dion', 95.0)]

**2.9 (2 point) Please write an SQL query to compute `lettergrade` of each row in the `grades` table, and show `studentid`, `course` and `lettergrade` of all rows in the `grades` table. `lettergrade` is computed as follows: **

* If `mark` >= 90, then `lettergrade` = "A"
* If 80 <= `mark` < 90, then `lettergrade` = "B"
* If 70 <= `mark` < 80, then `lettergrade` = "C"
* If 60 <= `mark` < 70, then `lettergrade` = "D"
* If `mark` < 60, then `lettergrade` = "F"

Hint: please use a [CASE expression](http://www.sqlitetutorial.net/sqlite-case/) to transform numerical marks to letters.

In [30]:
%%sql
SELECT studentid, course, CASE
WHEN mark>=90 THEN 'A'
WHEN mark>=80 AND mark<90 THEN 'B'
WHEN mark>=70 AND mark<80 THEN 'C'
WHEN mark>=60 AND mark<70 THEN 'D'
ELSE 'F'
END lettergrade
FROM grades

 * sqlite:///coursys
Done.

[(1, u'CMPT 354', u'A'),
 (1, u'MATH 251', u'B'),
 (1, u'CMPT 120', u'C'),
 (2, u'CMPT 354', u'A'),
 (2, u'CMPT 120', u'F'),
 (2, u'MATH 251', u'C')]

## Submission

Complete the code in this notebook [A1.ipynb](A1.ipynb), and submit it to the CourSys activity Assignment 1.